v*{
	padding:0;
	margin:0;
}

body, html { min-height: 100%; 


color: white;
background: url(background_pk.png) 
center no-repeat;
background-size: cover;
background-position:fixed;
background-attachment:fixed; 
background-color: #444;
}

h1{
	font-family: 'Roboto', sans-serif;
	font-weight:700;
}

p{
	font-family: 'Roboto', sans-serif;
	font-weight:400;
}
#wrapper{
	width:100%;
	height:100%;
}

#header {
	margin-top:5px;
	width:100%;
	height:100px;

	display:inline-block;
}
#header #logo{
	margin-top:5px;
	width:450px;
	height:75px;
	background-image:url(headerlogo_k.png);
	float:left;
}

#header #contentrow{
	width:550px;
	height:100px;
	float:right;
	/*background-color:blue;*/
	padding:0;

}
#header .nowrap {
  position:absolute;
  float: right;
  width:550px;
  overflow: hidden;
  white-space: nowrap;
  margin:0 auto;
}
#header .object{
	left:50%;
	float:left;
	width: 13%;
	height: auto;
}

#vegan{
	background-color: green;
	border-radius: 50%;
	width: 90%;
	height: auto;
	border: 1px solid black;
}

#beef{
	background-color: brown;
	border-radius: 50%;
	width: 90%;
	height: auto;
	border: 1px solid black;
}

#fish{
	background-color: lightblue;
	border-radius: 50%;
	width: 90%;
	height: auto;
	border: 1px solid black;
}

#chicken {
	background-color: orange;
	border-radius: 50%;
	width: 90%;
	height: auto;
	border: 1px solid black;
}

#random {
	background-color: gray;
	border-radius: 50%;
	width: 90%;
	height: auto;
	border: 1px solid black;
	cursor: pointer;
}

#vegan:hover{
	background-color: darkgreen;
}

#beef:hover{
	background-color: darkred;
}

#fish:hover {
	background-color: blue;
}

#chicken:hover {
	background-color: darkorange;
}

#random:hover {
	background-color: black;
}

#content{
	-webkit-box-shadow: 0px 0px 13px 4px rgba(50, 50, 50, 0.56);
	-moz-box-shadow:    0px 0px 13px 4px rgba(50, 50, 50, 0.56);
	box-shadow:         0px 0px 13px 4px rgba(50, 50, 50, 0.56);

	border:1px #3B3B3B solid;
	background-color:rgba(0,0,0,.5);


	position:absolute;
	max-width:85%;
	height:40%;
	top:40%;
	left:7.5%;
	right:7.5%;
	margin:auto 0;
	padding:0;


}

#content h1{
	text-align:center;
}
#content p{
	text-align:center;
}




#footer{
	position:absolute;
	margin-bottom:15px;
	bottom:0;
	width:100%;
	height:14pt;

	text-align:right;

}
#footer p{
	text-shadow: 4px 2px 6px rgba(0, 0, 0, 1);
	margin-right:1em;
	font-size:12pt;
	color:white;
}
#footer p:hover{
	color:#75EA47;
}