*{
	padding:0;
	margin:0;
}

body, html { min-height: 100%; 


color: white;
background: url(SpaghettiAvocado/background.png) 
center no-repeat;
background-size: cover;
background-position:fixed;
background-attachment:fixed; 
background-color: #444;
}

h1{
	font-family: 'Roboto', sans-serif;
	font-weight:700;
}

p{
	font-family: 'Roboto', sans-serif;
	font-weight:400;
}

#wrapper{
	width:100%;
	height:100%;
}

#header {
	position:relative;
	top:30px;
	margin:0 auto;
	width:100%;
	height:100px;

	background-repeat: no-repeat;
}

#logo {
	position: absolute;
	width: 50%;
	height: auto;
	left:25%;
}


#contentrow{
	position:relative;
	max-width:85%;
	height:200px;
	top:20%;

	margin-left:auto;
	margin-right:auto;
	padding:0;

}
.nowrap {
  position:absolute;
  float: left;
  width:100%;
  overflow: hidden;
  white-space: nowrap;
}

.object{	left:50%;
	float:left;
	width: 20%;
	height: auto;
}

#vegan{
	background-color: green;
	border-radius: 50%;
	width: 75%;
	height: auto;
	border: 1px solid black;
}

#beef{
	background-color: brown;
	border-radius: 50%;
	width: 75%;
	height: auto;
	border: 1px solid black;
}

#fish{
	background-color: lightblue;
	border-radius: 50%;
	width: 75%;
	height: auto;
	border: 1px solid black;
}

#chicken {
	background-color: orange;
	border-radius: 50%;
	width: 75%;
	height: auto;
	border: 1px solid black;
}

#random {
	background-color: gray;
	border-radius: 50%;
	width: 75%;
	height: auto;
	border: 1px solid black;
}

#vegan:hover{
	background-color: darkgreen;
}

#beef:hover{
	background-color: darkred;
}

#fish:hover {
	background-color: blue;
}

#chicken:hover {
	background-color: darkorange;
}

#random:hover {
	background-color: black;
	cursor: pointer;
}

#footer{
	position:absolute;
	bottom:0;
	width:100%;
	height:14pt;
	text-align:right;

}
#footer p{
	margin-right:1em;
	font-size:12pt;
	color:white;
}